#uploaded_image {
    max-height: 75vh;
    max-width: 100%;
    width: auto;
}

#dithered_image {
    max-height: 75vh;
    max-width: 100%;
    width: auto;
}

.img_container {
    height: auto;
    max-height: 150vh;
}